@model List<SellerModel>
@{

    Layout = "~/Views/Shared/_AdminLayoutt.cshtml";
}


<div class="layout-px-spacing">

    <div class="row layout-top-spacing layout-spacing">
        <div class="col-lg-12">
            <div class="statbox widget box box-shadow">
                <div class="widget-header">
                    <div class="row">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                            <h4>Style 1</h4>
                        </div>
                    </div>
                </div>
                <div class="widget-content widget-content-area">
                    <div class="table-responsive mb-4">
                        <table id="style-2" class="table style-2  table-hover">
                            <thead>
                                <tr>
                                    <th class="checkbox-column"> Record Id </th>
                                    <th>First Name</th>
                                    <th>Email</th>
                                    <th>Mobile No.</th>
                                    <th class="text-center">Image</th>
                                    <th class="text-center">Status</th>
                                    <th class="text-center">Remove</th>
                                    <th class="text-center">Action</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="checkbox-column"> 1 </td>
                                        <td>@item.Name</td>
                                        @if (item.Email != null)
                                        {
                                            <td>@item.Email</td>
                                        }
                                        else
                                        {
                                            <td>555-555-5555</td>
                                        }

                                        <td>@item.Contact</td>
                                        <td class="text-center">
                                            <span><img src="@item.Image" class="rounded-circle profile-img" alt="avatar"></span>
                                        </td>
                                        @if (item.Status==2)
                                        {
                                            <td class="text-center"><span class="shadow-none badge badge-primary">Approved</span></td>
                                        }
                                        else
                                        {
                                            <td class="text-center"><span class="shadow-none badge badge-warning">Pending</span></td>
                                        }
                                        
                                        <td class="text-center"><a href="javascript:void(0);" class="bs-tooltip" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete" onclick="DeletebyId(@item.Id)"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle table-cancel"><circle cx="12" cy="12" r="10"></circle><line x1="15" y1="9" x2="9" y2="15"></line><line x1="9" y1="9" x2="15" y2="15"></line></svg></a></td>
                                       
                                        <td class="text-center">
                                            <div class="dropdown custom-dropdown">
                                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal">
                                                        <circle cx="12" cy="12" r="1"></circle>
                                                        <circle cx="19" cy="12" r="1"></circle>
                                                        <circle cx="5" cy="12" r="1"></circle>
                                                    </svg>
                                                </a>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink1">
                                                    <a class="dropdown-item" onclick="changeStatus(@item.Id,1,'@item.Email','@item.Name')" href="#">Pending</a>
                                                    <a class="dropdown-item" onclick="changeStatus(@item.Id,2,'@item.Email','@item.Name')" href="#">Verified</a>
                                                    <a class="dropdown-item text-danger" onclick="changeStatus(@item.Id,3,'@item.Email','@item.Name')" href="#">Reject</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                              
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function changeStatus(id,status,email,Name) {
        debugger;
        $.ajax({
            type: "POST",
            url: "/SellerProfileStatus/SellerStatusUpdate",
            data: { Id: id, Status: status,Email:email,SellerName :Name},
            success: function (result) {
                if (result == 1) {
                    toastr.success("Status changed successfully");
                } else {
                    alert("Failed to change status");
                }
            }
        });
    }
    function DeletebyId(id) {
        $.ajax({
            type: 'get',
            url: '/SellerProfileStatus/Delete',
            data: { id: id },
            success: function (res) {
                if (res == 1) {
                    toastr.error("Data has been successfully Deleted!");
                } else {
                    toastr.error("Data not Deleted.");
                }

            }
        })
    }
</script>