@model Service.UI.Models.SellerModel
@inject IHttpContextAccessor httpContextAccessor
<form id="frmPassword" method="post" class="row g-3">
    <input style="display:none" id="datapass" value="@httpContextAccessor.HttpContext.Session.GetString("Password")"  />
    <div class="col-md-12">
        <label for="inputEmail4" class="form-label">Password <span class="text-danger" id="MSGPassword"></span></label>
        @Html.TextBoxFor(a => a.Password, new { @class = "form-control",placeholder = "Password" })
        <input style="display:none" id="Password" value="@httpContextAccessor.HttpContext.Session.GetString("Password")" />
    </div>
    <div class="col-md-12">
        <label for="inputZip" class="form-label">New Password <span class="text-danger" id="MSGNewPassword"></span></label>
        @Html.TextBoxFor(a => a.NewPassword, new { @class = "form-control", placeholder = "New Password" })
    </div>
    <div class="col-md-12">
        <label for="inputCity" class="form-label">Conform Password <span class="text-danger" id="MSGConformPassword"></span></label>
        @Html.TextBoxFor(a => a.ConformPassword, new { @class = "form-control", Type="Password",placeholder = "Conform Password" })
    </div>
    <div class="col-12">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
                Check me out
            </label>
        </div>
    </div>
    <div class="col-12">

        <input type="button" onclick="DataSave();" class="btn btn-primary" value="Save" />
    </div>
</form>
<script src="~/assets/jquery.js"></script>
<script>
    var J$ = jQuery.noConflict();
</script>
<script>
    $(document).ready(function(){
      
    })

    function DataSave() {
        if (Validation()==true) {
            var NewPass = $('#NewPassword').val();

            J$.ajax({
                type: 'POST',
                url: "/SellerProfile/PasswordChange",
                data: { Password: NewPass },
                success: function (res) {
                    if (res == 1) {
                        toastr.info("Data has been successfully Updated!");                       
                    }
                    else if (res == 2) {
                        toastr.success("Data has been successfully Saved!");
                    }
                    else {
                        toastr.error("Data not Saved.");
                    }
                }

            })
        }
    }


    function Validation() {
        debugger; 
        var Olddata = $('#datapass').val();
        var oldPass = $('#Password').val();
        var NewPass = $('#NewPassword').val();
        var ConformPass = $('#ConformPassword').val();
        var regex = /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$/; 

        $('#MSGPassword').text(oldPass === "" ? "Old password is empty. Please fill it." : "");
        $('#MSGNewPassword').text(NewPass === "" ? "New password is empty. Please fill it." : "");
        $('#MSGConformPassword').text(ConformPass === "" ? "Confirm password is empty. Please fill it." : "");

        if (oldPass === "") return false;
        if (NewPass === "") return false;
        if (ConformPass === "") return false;

        if (Olddata === oldPass) {
            if (regex.test(NewPass)) {
                if (NewPass === ConformPass) {
                    return true;
                } else {
                    $('#MSGConformPassword').text("Confirm password does not match the new password.");
                    return false;
                }
            } else {
                $('#MSGNewPassword').text("New password must be at least 8 characters long and contain both letters and numbers.");
                return false;
            }
        } else {
            $('#MSGPassword').text("Your old password is incorrect. Please enter the correct password.");
            return false;
        }
    }

   

</script>



@* <script src="~/assets/jquery.js"></script>
<script>
    var J$ = jQuery.noConflict();
</script>
*@

